
.compact {
    background-color: pink;
    padding: 10px;
    list-style-type: upper-roman;
}


.midsize {
    background-color: lightblue;
    padding: 10px;
    list-style-type: upper-roman;
}


.sports {
    background-color: lightcoral;
    padding: 10px;
    list-style-type: upper-roman;
}


ol ol {
    list-style-type: upper-alpha;
}


ol ol ol {
    list-style-type: decimal;
}